

.sendEmailBtn {
    text-align: center;
}

.hiddenClass {
    display: none;
}



.sendMailMessage {
    padding: 10px;
    text-align: center;
    display: block;
    color: green;
}


/*-- Form --*/
.formClass {
    /* background-color: blue; */
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    /* padding-bottom: 0; */
}


.formClass>div>input {
    width: 100%;
    padding: 12px;
    border: 1px solid #606060;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    margin-right: 10px;
    margin-left: 10px;
}

/* .formClass>div ::placeholder {
    color:black;
    opacity: 1;
} */

.formClass>div>textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #606060;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    height: 200px;
}





.contactTitle {
    display: inline-block;

}

.contactTitleSmall {
    display: none;
    /* background-color: orange; */
}




.mainContainer{
    margin: auto;
    height: 50vh;
    /* padding-bottom: 430px; */
}


.hours{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    margin:0px;
}


.info {
    /* background-color: green; */
    text-align: center;
    margin-bottom: 10px;

}


.totalContainer{
    margin:auto;
    margin-top: 17vh;
}



/* SAMSUNG galaxy s8+ */
@media only screen and (max-width: 400px) and (min-width: 0px) {

    .contactTitle {
        display: none;
    }

    .contactTitleSmall {
        display: inline-block;
    }


    .hours{
        margin-top: 60px;
        padding-top:0px;
    }

    .info{
        margin-top: 10px;
    }



}






/* IPHONE 14 pro max */
@media only screen and (max-width: 500px) and (min-width: 400px) {


    .totalContainer{
        margin-top: 13vh;
    }


    .contactTitle {
        display: none;
    }

    .contactTitleSmall {
        display: inline-block;
        padding-top: 0px;

    }


    .hours{
        padding-top: 0px;
        margin-top: 0px;
    }

}