.jumbo {
    height: 50vh;
}


.jumbologo {
    background-color: rgba(255, 255, 255, 0.5);
    /* max-width: 40vw; */
    object-fit: contain;
    /* margin: auto; */
    padding:0 !important;
    margin:0 !important;
}


.jumbohours {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
    font-size: 2em;
    font-weight: 600;
    /* background-color: pink; */
    padding-top: 20px;
}


.jumboinfo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: red; */
}


.estimateLink{
    text-decoration: none;
    color: white;
    text-transform: none;
    font-size: 1.2em;
    padding: 10px;
}





@media (max-width:500px) {

    .jumbo {
        height: 20vh;
    }

    .jumbologo {
        display: none;
    }


    .jumbohours{
        font-size: 1em;
        padding-top: 50px;
    }






}








/* 
@media (min-width:320px)  { smartphones, iPhone, portrait 480x320 phones }
@media (min-width:481px)  { portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. }
@media (min-width:641px)  { portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones }
@media (min-width:961px)  { tablet, landscape iPad, lo-res laptops ands desktops }
@media (min-width:1025px) { big landscape tablets, laptops, and desktops }
@media (min-width:1281px) { hi-res laptops and desktops } 
*/