.info {
    display: flex;
    padding: 20px;
}

.infosmall {
    display: none;
}





.sendEmailBtn{
    text-align: center;
}

.hiddenClass{
    display: none;
}



.sendMailMessage{
    padding: 10px;
    text-align: center;
    display: block;
    color: green;
}








@media (max-width:500px) {

    .info {
        display: none;
    }



    .infosmall {
        display: block;
        text-align: center;
        /* justify-content: center; */
    }

}