.info {
    display: flex;
    padding: 20px;
}

.infosmall {
    display: none;
}



@media (max-width:500px) {

    .info {
        display: none;
    }



    .infosmall {
        display: block;
        text-align: center;
        /* justify-content: center; */
    }

}